body{
  font-family: Arial, Verdana, sans-serif;
  color:#665544;
  padding: 10px;
}

h1 {
  background-color:green;
  color:white;
}

.page {
  border:1px solid #665544;
  background-color:#efefef;
  padding:inherit;
}

.pink {
    background-color:pink;
    color:white;
}
.white {
  background-color:white;
  color:grey
}
